---
import { h } from 'vue';

import LightGallery from 'lightgallery/vue'; 
/*import lgThumbnail from 'lightgallery/plugins/thumbnail';
import lgZoom from 'lightgallery/plugins/zoom';

const plugins = [lgThumbnail, lgZoom];
*/
import 'lightgallery/css/lightgallery.css';
import 'lightgallery/css/lg-thumbnail.css';
import 'lightgallery/css/lg-zoom.css';

interface PhotoProps {
  src: string;
  alt: string;
  link?: string;
  caption?: string;
}

interface Props {
  photos: PhotoProps[];
  glob: string;
}

const { photos } = Astro.props;

//const imports = import.meta.glob(`${glob}`);

//const photosSrc = photos.map(photo => { return { ...photo, "img": import.meta.glob<{ default: ImageMetadata }>( photo.src ) } });
---
<LightGallery client:load settings={ { speed: 500, selector: ".gallery-item" /*, plugins: plugins*/ } }>
  <div id="light-gallery">
    {photos.map((Photo, index) => (
      <a href={Photo.link || Photo.src.src} class="gallery-item">
        <img alt={Photo.alt} src={Photo.src.src} />
        {Photo.caption && <p class="caption">{Photo.caption}</p>}
      </a>
    ))}
  </div>
</LightGallery>

<style>
  #light-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content:center;
  }

  .gallery-item {
    display: block;
    width: auto; 
    height: 250px; 
    overflow: hidden;
    border-radius: 8px; 
    position: relative;

  }

  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.05s ease-in-out;
  }

  .gallery-item img:hover{
    transform: scale(1.1);
  }
</style>