---
import './src/styles/global.css';

interface ClipProps {
  src: string;
  caption?: string;
}

interface Props {
  videos: ClipProps[];
  showIframe: boolean;
}

const { videos, showIframe } = Astro.props;

let cIndex = 0;

function next() {
  cIndex = cIndex === videos.length - 1 ? 0 : cIndex + 1;
}

function prev() {
  cIndex = cIndex === 0 ? videos.length - 1 : cIndex - 1;
} 
---

<section>
  {showIframe && (
    <div>
      <iframe
        class="video-section"
        src={`https://www.youtube.com/embed/${videos[cIndex].src}`}
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      {videos[cIndex].caption && <p>{videos[cIndex].caption}</p>}
        <a onclick={prev} class="prev">&#10094;</a>
        <a onclick={next} class="next">&#10095;</a>
    </div>
  )}
</section>

<style>
   .video-section {
    width: 100%;
    max-width: 800px;
    height: 450px;
  }

</style>