@font-face {
  font-family: Gagalin;
    src: url('/fonts/Gagalin-Regular.ttf');
    src: url('/fonts/Gagalin-Regular.ttf') format('truetype');
}

* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	font-size: clamp(0.575rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
  --agnostic-header-content-width: 75vw; /* set minimum size of header menu - set to percent of viewport width */  
}

body {
  display: grid; 
  font-family: 'Work Sans', medium; 
  font-size: 1em;

  /* Change the min and max sizing based on available space */
  grid-template-columns: flex(auto-fit, minmax(100px,1fr));
  grid-auto-rows: minmax(100px, auto);
  
  align-content: space-evenly;
  /*justify-content: space-between;*/
  align-items: center;
  justify-items: center;
  background: var(--agnostic-secondary-hover-modelightt);
  color: var(--agnostic-font-color);
  
}

/* Project pages show list bullets again */
.body-prj ul {
  list-style: inside disc;
  font-family: 'Work Sans', medium; 
  font-size: 1.25em;
}

.body-prj iframe.youtube {
  width: 100%; 
  height: 50vw;
  margin-top: 2em;
  margin-bottom: 2em;
}

main {
  margin-left: 0;
  margin-right: 0;
  align-content: space-evenly;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  width: clamp(26ch, 90%, 100%);
}

h2 {
  text-align:center;
  font-size: clamp(var(--agnostic-h5), 5vw, var(--agnostic-h2));
  font-family: 'Gagalin', Helvetica, Arial, sans-serif;
}


.project-cards-flex {  /*Project search page cards container */
  justify-content: space-around;
  flex-flow: row wrap;
}

.card-container .card-main { /* div contains a single card on index page - more specific CSS selector takes priority */
  min-width: 20em !important;
  max-width: 30em;  
  padding: 1em;
  height: 20em;
  margin: 10px;
  text-align:center;
  /* 
  margin: auto;
  padding: 20px 10px; */
  /* margin-block-start: var(--fluid-40);
  padding-block-start: var(--fluid-16);
  padding-block-end: var(--fluid-40);
  margin-block-end: var(--fluid-40); */
  background-color: var(--agnostic-gray-mid);
}

.card-main ul {
  text-align: left;
}

.card-title { /*Card titles  */
  text-align:center;
  font-size: clamp(var(--agnostic-h5), 1vw, var(--agnostic-h2));
  font-family: 'Gagalin', Helvetica, Arial, sans-serif;
}

.body-prj h2 {
  margin-top: 0.5em;
}

.card-container {
  justify-content: space-around;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.valueprop {/*footer variable */
  font-size: clamp(var(--agnostic-h6), 1vw, var(--agnostic-h4));
}
.valueprop a { /*footer variable */
  font-size: clamp(var(--agnostic-h5), 2vw, var(--agnostic-h3));
}

/* Only show light or dark image based on browser option */
.imageDark {
  display: none;
}
.imageLight {
  display: block;
}
@media (prefers-color-scheme: dark) {
  .imageDark {
    display: block;
  }
  .imageLight {
    display: none;
  }
}

/* TODO -- we'll need to revisit this once AgnosticUI properly supports dark mode. Breadcrumb links
aren't accessible in terms of contrast in dark mode at the moment. */
/* @media (prefers-color-scheme: dark) {
  body {
    background: #0c2c43;
    color: #f9fafb;
	}
} */
