---
//Style Imports
import '../styles/global.css';


//agnostic imports
import "agnostic-vue/dist/common.properties.min.css";
import "agnostic-vue/dist/common.resets.min.css";
import "agnostic-vue/dist/common.utilities.min.css";
import "agnostic-vue/dist/opinions.min.css";

//Component Imports
import "agnostic-vue/dist/index.css";
import TAPDefaultLayout from "../layouts/default.astro";
import Crumbs from '../components/Crumbs.vue';
import Banner from '../components/vue/Banner.vue';
import { getCollection } from 'astro:content';
const about = await getCollection('aboutTAP');
import PhotoCarousel from '../components/vue/photoCarousel.vue';

// const { entry } = Astro.props;
// const { postId } = Astro.params;
// // const { Content } = await entry.render();
// const postName = entry.data.title;

// let title = `${entry.data.title} (${entry.data.eventDate.toDateString()}) - GGC Technology Ambassadors Program`;

---
<TAPDefaultLayout title= "The Technology Ambassadors Program" class="blog">
 <Crumbs pageType="post" pageUrl="/about-tap" />

    <h1> The Technology Ambassadors Program at GGC</h1>
    <p>

    </p>
    <a href="`${base == '/' ? '' : base}/projects`">View Projects</a></h3>

 <Banner/>

 <PhotoCarousel client:load 
 photos={[
 {src: "/images/about-pg-gallery/gallery-1.jpg",
 alt: "Spring 2024 Tap Expo",
 caption: "Spring '24 TAP EXPO"},
 {src: "/images/about-pg-gallery/gallery-2.png",
 alt: "TAP Assistants with Professors",
 caption: "Fall 2023 TAP Career Fair"},
 {src: "/images/about-pg-gallery/gallery-3.jpg",
 alt: "TAP Assistants with Professors",
 caption: "Spring 2024 TAP Career Fair"},
 {src: "/images/about-pg-gallery/gallery-4.jpg",
 alt: "Scratch/makey-makey Demo at Tap Expo",
 caption: "Scratch/Makey-makey Demo at Tap Expo"},
 {src: "/images/about-pg-gallery/gallery-5.jpg",
 alt: "2019 Spring TAP class",
 caption: "2019 Spring TAP class"},
 {src: "/images/about-pg-gallery/gallery-6.jpg",
 alt: "Dr. Anca Doloc-Mihu & Dr. Cindy Robertson",
 caption: "Dr. Anca Doloc-Mihu & Dr. Cindy Robertson"},
 {src: "/images/about-pg-gallery/gallery-7.jpg",
 alt: "Dr.Cengiz Gunay & Students",
 caption: "2022 TAPIA Festival"},
 {src: "/images/about-pg-gallery/gallery-8.jpg",
 alt: "Students presenting TAP Research at 2023 STARS",
 caption: "2023 STARS"},
 {src: "/images/about-pg-gallery/gallery-9.jpg",
 alt: "Augmented Reality Demo at Spring 2022 Tap Expo",
 caption: "Spring 2022 TAP Expo"},
 ]}/>





</TAPDefaultLayout> 