---
import TAPDefaultLayout from "../layouts/default.astro";
import TAPCalendar from "../components/TAPCalendar.vue";
import Crumbs from '../components/Crumbs.vue';
---
<TAPDefaultLayout title="Outreach Projects">

    <Crumbs pageType="projects" pageUrl="/projects" />
    <!-- <h2>Search TAP Outreach Projects</h2> -->

    <TAPCalendar client:load />

</TAPDefaultLayout>
