---
// Style Imports
import '../styles/global.css';

// common.min.css is distributed with agnostic-react
// and agnostic-svelte too. But, since we're using all
// of these together, we only need to import global CSS
// once and in one place.
// common.min.css combines properties, resets, utilities
// import "agnostic-vue/dist/common.min.css";
// But!! Rob much prefers individual modular import ;)
import "agnostic-vue/dist/common.properties.min.css";
import "agnostic-vue/dist/common.resets.min.css";
import "agnostic-vue/dist/common.utilities.min.css";
import "agnostic-vue/dist/opinions.min.css";


// Component Imports
import "agnostic-vue/dist/index.css";
import Card from "agnostic-vue";
import Heading from '../components/Heading.astro';
import TAPHeader from '../components/TAPHeader.vue';
//import React from '../components/react/React.jsx';
//import Svelte from '../components/svelte/Svelte.svelte';
import Vue from '../components/vue/Vue.vue';
import PostListCard from '../components/PostListCard.vue';
import ProjectListCard from '../components/ProjectListCard.vue';

// Vue imports
/*export default {
  name: "CardExample",
  components: {
    Card,
  },
};*/

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'GGC Technology Ambassadors Program';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

// load blog content: news, etc.
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('posts');
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<style>
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);
		}
	</style>
</head>
<body>
	<main>
		<TAPHeader client:load />
		<Heading />
		
		<section class="flex flex-column items-start">  
			<PostListCard client:load/>
			<ProjectListCard client:load/>
		</section>

		<div class="frameworks">
		<!-- React client:load / -->
		<div class="mbe24" />
			<!--Vue client:load /-->
		<div class="mbe24" />
			<!-- Svelte client:load / -->
		<div class="mbe48" />
		</div>
	</main>
	
</body>
</html>
