---
// Style Imports
import '../styles/global.css';
import '@fontsource/source-sans-pro';
import '@fontsource/pixelify-sans';
import '@fontsource/ibm-plex-mono';
import '@fontsource/work-sans';
import '@fontsource/cormorant-garamond';
import '@fontsource/spectral';
import '@fontsource/crimson-pro';
import '@fontsource/alfa-slab-one';

// common.min.css is distributed with agnostic-react
// and agnostic-svelte too. But, since we're using all
// of these together, we only need to import global CSS
// once and in one place.
// common.min.css combines properties, resets, utilities
// import "agnostic-vue/dist/common.min.css";
// But!! Rob much prefers individual modular import ;)
import "agnostic-vue/dist/common.properties.min.css";
import "agnostic-vue/dist/common.resets.min.css";
import "agnostic-vue/dist/common.utilities.min.css";
import "agnostic-vue/dist/opinions.min.css";


// Component Imports
import "agnostic-vue/dist/index.css";
import Heading from '../components/Heading.astro';
import TAPHeader from '../components/TAPHeader.vue';
//import React from '../components/react/React.jsx';
//import Svelte from '../components/svelte/Svelte.svelte';
import Vue from '../components/vue/Vue.vue';
import PostListCard from '../components/PostListCard.vue';
import ProjectListCard from '../components/ProjectListCard.vue';
import AwardsListCard from '../components/AwardsListCard.vue';
import EventsListCard from '../components/EventsListCard.vue';
import PapersListCard from '../components/PapersListCard.vue';
import "agnostic-react/dist/common.min.css";
import {
		Divider,
		DividerHeader,
		DividerBody,
		DividerFooter,
		Button
	} from "agnostic-react";

// Vue imports
/*export default {
  name: "CardExample",
  components: {
    Card,
  },
};*/

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'GGC Technology Ambassadors Program';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

// load blog content: news, etc.
import { getCollection } from 'astro:content';
import TAPFooter from '../components/TAPFooter.vue';
import TAPDefaultLayout from "../layouts/default.astro";
import Banner from '../components/vue/Banner.vue';

const blogEntries = await getCollection('events');

// TODO: make the carousel into component
---
<TAPDefaultLayout title={title}>

  <section class="homepg-banner">
		<img id="home-banner" src="" alt="TAP Gallery" style="" />
		<div class="banner-text-overlay">
			<h4 id="photoTitle" class="banner-text-overlay">Title Here</h4>
			<p id="caption">caption here.</p>
			<a id="prev" class="prev">&#10094;</a>
			<a id="next" class="next">&#10095;</a>
		</div>			
	</section>

	<Banner/>
	<Heading />

        <section class="card-container">
            <PostListCard client:load/>
            <ProjectListCard/>
            <!--AwardsListCard client:load/>
            <EventsListCard client:load/>
            <PapersListCard client:load/-->
        </section>

        	<!-- <section class="banner">
		<h2> About TAP </h2>
	</section> -->
  
</TAPDefaultLayout>

<style>
	.homepg-banner {
		display: block;
		position: relative;
		max-width: 800px; 
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 2rem;
	}

	.banner-text-overlay h4 {
		font-family: 'Gagalin', Helvetica, Arial, sans-serif;
		padding-bottom: 10rem;
		padding-left: 3rem;
	} 

	.banner-text-overlay p {
		/* margin: 0; */
		padding-bottom: 8.5rem;
		padding-left: 5rem;	
	}

	.banner-text-overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		line-height: 1;
		text-decoration: left;
		color: var(--agnostic-font-color);
		/* background: rgba(0, 0, 0, 0.5); */
	}

	.banner-text-overlay .prev,
	.banner-text-overlay .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		/*padding: 1.5rem;*/
		margin-top: -50px;
		color: var(--agnostic-font-color);
		font-weight: bold;
		font-size: 84px;
		border-radius: 0 3px 3px 0;
		/* user-select: none; */
		/* -webkit-user-select: none; */
	}

	/* Position the "next button" to the right */
	.next {
	right: 0;
	border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
	text-decoration: none;
	}
	.prev:disabled,
	.next:disabled {
	cursor: not-allowed;
	text-decoration: none;
	color: #2f2c2c
	}

</style>

<script>
	const gallery = [
	  {
		file: '/images/homepg-gallery/tap-homepage-banner.jpg',
		photoTitle: 'TECHNOLOGY AMBASSADORS PROGRAM',
		caption: 'Georgia Gwinnett College'
	  },
	  {
		file: '/images/homepg-gallery/tap-homepage-banner-2.jpg',
		photoTitle: 'TECHNOLOGY AMBASSADORS PROGRAM',
		caption: 'Georgia Gwinnett College'
	  },
	  {
		file: '/images/homepg-gallery/tap-homepage-banner-3.jpg',
		photoTitle: 'TECHNOLOGY AMBASSADORS PROGRAM',
		caption: 'Georgia Gwinnett College'
	  }
	];
	
	let cIndex = 0;
  
	const homeBanner = document.getElementById('home-banner');
	const photoTitle = document.getElementById('photoTitle');
	const caption = document.getElementById('caption');
	const prevArrow = document.getElementById('prev');
	const nxtArrow = document.getElementById('next');
  
	function updateGallery(index) {
	  const photo = gallery[index]; 
	  homeBanner.src = photo.file;
	  photoTitle.textContent = photo.photoTitle;
	  caption.textContent = photo.caption;
  
	}
  
	prevArrow.addEventListener('click', () => {
	  if (cIndex > 0) {
		cIndex--;
	  }
	  else cIndex = gallery.length -1;
	  updateGallery(cIndex);

	});
  
	nxtArrow.addEventListener('click', () => {
	  if (cIndex < gallery.length - 1) {
		cIndex++;
	  }
	  else cIndex = 0;
	  updateGallery(cIndex);

	});
  
	window.onload = () => {
	  if (gallery.length > 0) {
		updateGallery(cIndex);
	   } 
	};
  </script>
  