---
// Style Imports
import '../styles/global.css';
import '@fontsource/Source-Sans-Pro';
import '@fontsource/Pixelify-Sans';
import '@fontsource/IBM-Plex-Mono';
import '@fontsource/Work-Sans';
import '@fontsource/Cormorant-Garamond';
import '@fontsource/Spectral';
import '@fontsource/Crimson-Pro';
import '@fontsource/Alfa-Slab-One';

// common.min.css is distributed with agnostic-react
// and agnostic-svelte too. But, since we're using all
// of these together, we only need to import global CSS
// once and in one place.
// common.min.css combines properties, resets, utilities
// import "agnostic-vue/dist/common.min.css";
// But!! Rob much prefers individual modular import ;)
import "agnostic-vue/dist/common.properties.min.css";
import "agnostic-vue/dist/common.resets.min.css";
import "agnostic-vue/dist/common.utilities.min.css";
import "agnostic-vue/dist/opinions.min.css";


// Component Imports
import "agnostic-vue/dist/index.css";
import Heading from '../components/Heading.astro';
import TAPHeader from '../components/TAPHeader.vue';
//import React from '../components/react/React.jsx';
//import Svelte from '../components/svelte/Svelte.svelte';
import Vue from '../components/vue/Vue.vue';
import PostListCard from '../components/PostListCard.vue';
import ProjectListCard from '../components/ProjectListCard.vue';
import AwardsListCard from '../components/AwardsListCard.vue';
import EventsListCard from '../components/EventsListCard.vue';
import PapersListCard from '../components/PapersListCard.vue';
import "agnostic-react/dist/common.min.css";
import {
		Divider,
		DividerHeader,
		DividerBody,
		DividerFooter,
		Button
	} from "agnostic-react";

// Vue imports
/*export default {
  name: "CardExample",
  components: {
    Card,
  },
};*/

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'GGC Technology Ambassadors Program';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

// load blog content: news, etc.
import { getCollection } from 'astro:content';
import TAPFooter from '../components/TAPFooter.vue';

const blogEntries = await getCollection('posts');

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<style type="text/css">* { padding: 0; margin: 0; }
	
	</style>
</head>

<body >
		<TAPHeader client:load />
	<main>
		<Heading />
			<section class="card-container">
			<PostListCard client:load/>
			<ProjectListCard client:load/>
			<AwardsListCard client:load/>
			<EventsListCard client:load/>
			<PapersListCard client:load/>

		</section>
		
	</main>
	
</body>

<footer>
	
		  <div class= h4>
			
			<TAPFooter client:load />
			<!--p>
			
				<a href="https://www.ggc.edu/academics/school-of-science-and-technology/research-internships-service-learning/technology-ambassador-program/tap-application" target="AWARDS"> APPLY NOW </a>
</p-->
</footer>
</html>
