---
import { getCollection } from "astro:content";

const currentPath = Astro.url.pathname;

// for some reason the previousPath call makes the breadcrumbs go back to the home page when inside project instead of the previous project search page
const previousPath = Astro.url.origin;
const homePage = "http://localhost:4321/"
const projectPage = "http://localhost:4321/projects"
// const blogPage = "http://localhost:4321/posts"
---
<!-- Import bread crumb style from agnostic.ui they have a template that I can call -->
<article id = "bread-crumbs">
    <h5 id = "bread-crumb-text"> <a href = {previousPath}>TAP{currentPath.replaceAll("/", " / ")}</a></h5>
</article>

<style>
    #bread-crumbs{
        /* background-color: #021134; */
        /* padding: 0.5em; */
    }
    #bread-crumb-text{
        color: #2FBFDE;
        background-color: #021134;
        padding: 0.5em;
        margin-top: 1.5em;
    }

</style>