<article>
	<section class="mbe40">
		<h2> Technology Ambassadors Program </h2>
    	<p class="valueprop"> <a href="http://www.ggc.edu/tap" target="_blank">Apply Now! </a> </p>
	</section>
</article>
<style>
	section {
		margin-top: var(--fluid-56);
	}
</style>
